// prose fixes
.prose {
  li.dokan-single-seller::before {
    display: none !important;
  }
}

// siderbar, example: /my-account/orders/
.dokan-dash-sidebar-left li {
  padding: 12px 0;
  margin-bottom: 0px;
  a {
    font-weight: 600;
    color: #000000;
  }
}

.dokan-dash-sidebar-left {
  > h4 {
    margin-bottom: 15px;
  }
  .list-title-a {
    margin-bottom: 15px;
  }
}
