@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@font-face {
  font-family: 'Volante';
  font-weight: bold;
  font-style: bold;
  src: url('../fonts/Volante-Bold.otf');
}

@font-face {
  font-family: 'Druk Condensed';
  src: url('../fonts/DrukCond-Super.otf');
}

.header-logo {
  font-family: 'Druk Condensed';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

// TODO: move to tailwindcss
body {
  font-family: 'Roboto', sans-serif;
}
