@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500;600;700;800&display=swap');

@font-face {
  font-family: 'Volante';
  font-weight: bold;
  font-style: bold;
  src: url('../fonts/Volante-Bold.otf');
}

@font-face {
  font-family: 'Druk Condensed';
  src: url('../fonts/DrukCond-Super.otf');
}

.header-logo {
  font-family: 'Druk Condensed';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 600;
}

h2 {
  font-size:1.5rem;
}

h2 {
  font-size:1.5rem;
}

// TODO: move to tailwindcss
body {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 400;
}
